@media screen and (max-width: 1200px) {
    .idr{
        font-size: 14px;
    }
    .price{
        font-size: 28px;
    }
    .month {
        font-size: 9px;
        line-height: 4.5;    
    }
}

@media screen and (max-width: 1024px) {
    .idr{
        font-size: 22px;
    }
    .price{
        font-size: 50px;
    }
    .month {
        font-size: 14px;
        line-height: 5.5;    
    }
}
@media screen and (max-width: 769px) {
    .price{
        font-size: 50px;
    }

    .idr{
        font-size: 24px;
    }
    .month{
        font-size: 14px;
    }

    .btn-regist{
        font-size: 14px;
    }
    .accordion-item-description img {
        width: 100% !important;
    }
}

@media screen and (max-width: 414px) {
    .absolute-about{
        left: unset;
    }
    
    .race-about{
        font-size: 80px;
    }

    .reverse-content{
        flex-direction: column-reverse;
    }

    .img-contact{
        display: none;
    }

    .idr{
        font-size: 28px;
    }
    .price{
        font-size: 60px;
    }
    .month {
        font-size: 16px;
        line-height: 5.5;    
    }
}